body{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(105,105,105);
background: linear-gradient(180deg, rgba(105,105,105,1) 2%, rgba(105,105,105,0.639093137254902) 100%);
}
.calculator{
    min-width: 400px;
    max-width: 400px;
    min-height: 80vh;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.display{
    width: 100%;
    min-height: 220px;
    max-height: min-content;
    background-color: black;
    color: white;
    word-break: break-all;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
}
.result{
    padding: 10px 20px 10px 0px;
}
.btns{
    width: 100%;
    min-height: 55vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;

    
}
.btns button{
    font-size: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.btns button:hover{
    transform: scale(1.02);
    transition: all .2s ease-in-out;
}

.equals{
    grid-row: -1/-3;
    grid-column: -2/-1;
}
.number{
    background-color: #696969;
}
.number:hover{
    background-color: #696985;
    
}
.operator{
    background-color: #F08000;
    
}

.operator:hover{
    background-color: #F08050;
}
.clear:hover,
.equals:hover{
    background-color: #dddddd;

}


.calculator__history{
    position: absolute;
    top: 100px;
    right: 230px;
    background-color: black;
    color: white;
    width: 15%;
    height: 80vh;
    padding: 0;
    border-radius: 5px;
    margin-left: 80px;
    display: none;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    animation: growDown 1s ease-in-out forwards;
    transform-origin: top center;


}
.calculator__history ul{
    list-style: none;
    font-size: 20px;
    
}
.history__btn{
    position: absolute;
    top: 40px;
    right: 385px;
    transform: translateX(25%);
    width: 100px;
    height: 50px;
    font-size: 18px;
    background-color: #F08000;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow__down {
    display: none;
    margin-left: 10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    opacity: 0.8;
    border-top: 10px solid black;
}
.arrow__up{
    display: none;
    margin-left: 10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    opacity: 0.8;
    border-bottom: 10px solid black;
}

.history__btn:hover .arrow__down {
    animation: bounce-down 1s ease infinite;
}
.history__btn:hover .arrow__up {
    animation: bounce-up 1s ease infinite;
}
.active{
    display: flex;
}



@keyframes bounce-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
  }

  @keyframes bounce-up {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
  }
  @keyframes growDown{
    
    0% {
            transform: scaleY(0)
    }
    
    100% {
            transform: scaleY(1)
    }
    
  }